In [2]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import toolkit4211 as tk

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### Choose all the data

In [3]:
df=tk.ungroup()

,brandID,attribute1,attribute2,attribute3,attribute4,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,weekday,meanAge,gender,meanEducation,maritalStatus,plus,meanPurchasePower,meanUserLevel,meanCityLevel,sales
productID,,,,,,,,,,,,,,,,,,,
28,4,3,100,5,2.098131,749,58.870968,53.774194,24.642857,3,31.481481,0.370370,3.222222,0.555556,0.357143,2.259259,3.178571,1.884615,31
73,30,2,40,3,1.487173,1217,329.000000,146.111111,8.642857,5,30.000000,0.000000,3.333333,0.571429,0.333333,2.285714,3.000000,2.000000,9
70,3,3,100,1,2.726300,3676,105.000000,64.797872,32.500000,2,32.027778,0.194444,3.073529,0.611940,0.320000,2.223881,2.866667,2.000000,94
69,35,3,100,2,2.831175,2685,246.482759,204.448276,43.714286,5,32.160000,0.280000,3.125000,0.480000,0.357143,2.160000,3.357143,1.833333,29
69,35,3,100,7,6.322161,777,250.000000,240.500000,43.000000,6,26.666667,0.000000,3.333333,0.000000,0.500000,2.000000,2.750000,1.333333,4