### Multiple linear regression (least square)

In [102]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import toolkit4211 as tk

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# K=2

### import data

In [73]:
df=pd.read_csv('data-train345.csv')

### choose to have 2 group

In [74]:
df=df.drop('Labels_4',axis=1)
df=df.drop('Labels_5',axis=1)
df.columns

Index(['productID', 'brandID', 'attribute1', 'attribute2', 'attribute3',
       'attribute4', 'clickVolume', 'avgOriginalUnitPrice',
       'avgFinalUnitPrice', 'ma14SalesVolume', 'weekday', 'meanAge', 'gender',
       'meanEducation', 'maritalStatus', 'plus', 'meanPurchasePower',
       'meanUserLevel', 'meanCityLevel', 'sales', 'Labels_3'],
      dtype='object')

## Product Group 1

### choose group1

In [118]:
g1=df[df['Labels_3'] ==1]
g1=g1.drop('Labels_3',axis=1)
g1.head()

,productID,brandID,attribute1,attribute2,attribute3,attribute4,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,weekday,meanAge,gender,meanEducation,maritalStatus,plus,meanPurchasePower,meanUserLevel,meanCityLevel,sales
0,28,4,3,100,5,2.098131,749,58.870968,53.774194,24.642857,3,31.481481,0.370370,3.222222,0.555556,0.357143,2.259259,3.178571,1.884615,31
2,70,3,3,100,1,2.726300,3676,105.000000,64.797872,32.500000,2,32.027778,0.194444,3.073529,0.611940,0.320000,2.223881,2.866667,2.000000,94
3,69,35,3,100,2,2.831175,2685,246.482759,204.448276,43.714286,5,32.160000,0.280000,3.125000,0.480000,0.357143,2.160000,3.357143,1.833333,29
4,69,35,3,100,7,6.322161,777,250.000000,240.500000,43.000000,6,26.666667,0.000000,3.333333,0.000000,0.500000,2.000000,2.750000,1.333333,4
6,96,35,3,100,7,36.112149,313,180.000000,121.000000,5.357143,1,33.333333,0.000000,3.333333,0.666667,0.666667,3.000000,2.666667,2.666667,5

### initilize the data

In [119]:
x_stan,y =tk.initialize(g1)
x_stan.head()

,productID,attribute1,attribute2,attribute3,attribute4,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,meanAge,...,brandID_31,brandID_32,brandID_35,brandID_36,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,weekday_7
0,1.035217,7.065858,11.344574,1.087809,0.106444,0.568054,0.797814,0.942305,1.012607,6.814589,...,0.0,0.0,0.000000,0.0,0.000000,2.942257,0.0,0.000000,0.000000,0.0
1,2.588042,7.065858,11.344574,0.217562,0.138313,2.787939,1.422950,1.135477,1.335467,6.932842,...,0.0,0.0,0.000000,0.0,2.965813,0.000000,0.0,0.000000,0.000000,0.0
2,2.551069,7.065858,11.344574,0.435123,0.143633,2.036349,3.340311,3.582624,1.796277,6.961463,...,0.0,0.0,3.504763,0.0,0.000000,0.000000,0.0,2.712368,0.000000,0.0
3,2.551069,7.065858,11.344574,1.522932,0.320740,0.589290,3.387977,4.214372,1.766926,5.772357,...,0.0,0.0,3.504763,0.0,0.000000,0.000000,0.0,0.000000,2.740878,0.0
4,3.549314,7.065858,11.344574,1.522932,1.832067,0.237384,2.439343,2.120329,0.220132,7.215447,...,0.0,0.0,3.504763,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0

### compare dimension and datasize

In [120]:
len(g1)

1208

In [121]:
len(g1.columns)

20

n>>p

### least square linear regression function

In [105]:
tk.LeastSq_lr(g1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.514
Model:                            OLS   Adj. R-squared:                  0.497
Method:                 Least Squares   F-statistic:                     29.35
Date:                Sun, 12 Dec 2021   Prob (F-statistic):          5.28e-152
Time:                        22:10:46   Log-Likelihood:                -5909.7
No. Observations:                1208   AIC:                         1.191e+04
Df Residuals:                    1165   BIC:                         1.212e+04
Df Model:                          42
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept              -23.0212     29.641     -0.777      0.438     -81.176      35.134
productID               -2.2891      1.586     -1.443      0.149      -5.401       0.823
attribute1               2.0888      1.766      1.183      0.237      -1.377       5.554
attribute2               1.5726      2.172      0.724      0.469      -2.689       5.834
attribute3              -1.3650      0.960     -1.422      0.155      -3.248       0.518
attribute4              -0.7620      0.959     -0.794      0.427      -2.644       1.120
clickVolume             25.3981      1.094     23.214      0.000      23.251      27.545
avgOriginalUnitPrice    13.8400      3.973      3.483      0.001       6.045      21.635
avgFinalUnitPrice      -19.0788      3.803     -5.017      0.000     -26.539     -11.618
ma14SalesVolume          2.2661      1.205      1.880      0.060      -0.098       4.631
meanAge                  0.7052      1.170      0.603      0.547      -1.590       3.000
gender                  -0.1583      1.027     -0.154      0.878      -2.173       1.856
meanEducation            0.7657      1.267      0.604      0.546      -1.720       3.251
maritalStatus            0.0343      1.147      0.030      0.976      -2.215       2.284
plus                    -0.2569      1.136     -0.226      0.821      -2.486       1.972
meanPurchasePower       -0.2272      1.038     -0.219      0.827      -2.263       1.809
meanUserLevel           -0.0785      1.207     -0.065      0.948      -2.446       2.289
meanCityLevel           -0.2166      1.046     -0.207      0.836      -2.268       1.835
brandID_3               -0.5943      1.352     -0.440      0.660      -3.247       2.058
brandID_4                0.0008      1.628      0.000      1.000      -3.194       3.196
brandID_9                1.6708      1.650      1.013      0.311      -1.566       4.907
brandID_10              -1.3669      1.409     -0.970      0.332      -4.132       1.398
brandID_11               8.8864      1.236      7.189      0.000       6.461      11.312
brandID_12              -1.7285      1.504     -1.149      0.251      -4.680       1.223
brandID_13              -0.8801      1.199     -0.734      0.463      -3.233       1.473
brandID_14              -0.6591      1.373     -0.480      0.631      -3.353       2.035
brandID_15              -1.6838      1.335     -1.262      0.207      -4.303       0.935
brandID_17              -0.4711      1.323     -0.356      0.722      -3.068       2.125
brandID_20               1.2599      1.883      0.669      0.503      -2.434       4.954
brandID_25               1.7048      2.473      0.689      0.491      -3.148       6.558
brandID_26               0.9909      2.011      0.493      0.622      -2.955       4.937
brandID_27               1.9992      1.895      1.055      0.292      -1.719       5.718
brandID_28              -4.8085      2.030     -2.368      0.018      -8.792      -0.825
brandID_31               2.6038      1.372      1.897      0.058      -0.089       5.296
brandID_32               0.8124      1.729      0.470      0.638      -2.579       4.204
brandID_35               0.4734      2.549      0.186      0.853      -4.527       5.474
brandID_36              -7.5227      2.277     -3.304      0.001     -11.990      -3.056
weekday_2               -0.3585      1.239     -0.289      0.772      -2.789       2.073
weekday_3               -0.6127      1.246     -0.492      0.623      -3.058       1.833
weekday_4                3.5897      1.289      2.785      0.005       1.061       6.119
weekday_5                2.0903      1.297      1.612      0.107      -0.454       4.634
weekday_6               -0.1005      1.283     -0.078      0.938      -2.619       2.418
weekday_7                1.2305      1.227      1.003      0.316      -1.176       3.637
==============================================================================
Omnibus:                     1165.171   Durbin-Watson:                   1.990
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           441969.874
Skew:                           3.686   Prob(JB):                         0.00
Kurtosis:                      96.416   Cond. No.                         686.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Cross Validation

In [106]:
tk.CV4LeastSq_lr(g1)

1966.9595514533835

## Product Group 2

In [111]:
g2=df[df['Labels_3'] ==2]
g2=g2.drop('Labels_3',axis=1)
g2.head()

,productID,brandID,attribute1,attribute2,attribute3,attribute4,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,weekday,meanAge,gender,meanEducation,maritalStatus,plus,meanPurchasePower,meanUserLevel,meanCityLevel,sales
1,73,30,2,40,3,1.487173,1217,329.00,146.111111,8.642857,5,30.000000,0.000000,3.333333,0.571429,0.333333,2.285714,3.000000,2.000000,9
5,6,26,3,70,7,5.780666,883,134.18,107.478667,42.214286,5,32.000000,0.100000,2.900000,0.200000,0.142857,2.100000,3.714286,2.111111,15
12,92,22,3,60,4,18.322989,368,166.00,159.000000,10.571429,6,36.666667,0.333333,3.333333,1.000000,1.000000,2.000000,3.000000,2.500000,3
13,68,36,3,70,17,3.853880,1357,154.00,131.887500,5.714286,6,35.000000,0.000000,3.250000,0.750000,0.250000,2.500000,6.625000,1.500000,8
14,60,2,3,60,3,6.634016,667,69.00,49.171282,12.785714,3,29.310345,0.137931,3.178571,0.655172,0.275862,2.275862,2.793103,2.285714,39

In [112]:
x_stan,y =tk.initialize(g2)
x_stan.head()

,productID,attribute1,attribute2,attribute3,attribute4,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,meanAge,...,brandID_30,brandID_31,brandID_35,brandID_36,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,weekday_7
0,2.294131,3.274612,4.746814,0.646641,0.088989,1.696192,5.114830,2.782420,0.492396,6.793663,...,6.863346,0.0,0.0,0.00000,0.0,0.000000,0.0,2.645623,0.000000,0.0
1,0.188559,4.911918,8.306924,1.508828,0.345903,1.230680,2.086042,2.046736,2.405008,7.246574,...,0.000000,0.0,0.0,0.00000,0.0,0.000000,0.0,2.645623,0.000000,0.0
2,2.891234,4.911918,7.120221,0.862188,1.096409,0.512899,2.580735,3.027866,0.602269,8.303366,...,0.000000,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,2.673651,0.0
3,2.136999,4.911918,8.306924,3.664298,0.230608,1.891316,2.394176,2.511558,0.325551,7.925940,...,0.000000,0.0,0.0,5.56116,0.0,0.000000,0.0,0.000000,2.673651,0.0
4,1.885587,4.911918,7.120221,0.646641,0.396966,0.929630,1.072715,0.936378,0.728420,6.637487,...,0.000000,0.0,0.0,0.00000,0.0,2.937254,0.0,0.000000,0.000000,0.0

In [122]:
len(g2)

1106

### least square linear regression function

In [113]:
tk.LeastSq_lr(g2)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.689
Model:                            OLS   Adj. R-squared:                  0.677
Method:                 Least Squares   F-statistic:                     56.18
Date:                Sun, 12 Dec 2021   Prob (F-statistic):          1.49e-237
Time:                        22:22:52   Log-Likelihood:                -4728.9
No. Observations:                1106   AIC:                             9544.
Df Residuals:                    1063   BIC:                             9759.
Df Model:                          42
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept                9.5821     12.700      0.755      0.451     -15.337      34.501
productID                0.7999      0.855      0.935      0.350      -0.878       2.478
attribute1               0.0147      1.121      0.013      0.990      -2.186       2.215
attribute2               0.3091      0.997      0.310      0.757      -1.647       2.265
attribute3              -0.2826      0.542     -0.522      0.602      -1.345       0.780
attribute4               0.7768      0.541      1.435      0.152      -0.286       1.839
clickVolume             22.8421      0.691     33.058      0.000      21.486      24.198
avgOriginalUnitPrice     0.4225      3.599      0.117      0.907      -6.639       7.484
avgFinalUnitPrice      -16.8424      2.709     -6.217      0.000     -22.159     -11.526
ma14SalesVolume          1.0328      0.726      1.422      0.155      -0.392       2.458
meanAge                  0.0578      0.634      0.091      0.927      -1.187       1.303
gender                   0.1945      0.627      0.310      0.757      -1.036       1.425
meanEducation            0.5984      0.699      0.856      0.392      -0.773       1.970
maritalStatus           -0.6563      0.633     -1.037      0.300      -1.899       0.586
plus                     0.3386      0.636      0.532      0.595      -0.910       1.587
meanPurchasePower        0.3704      0.579      0.639      0.523      -0.766       1.507
meanUserLevel           -0.8456      0.694     -1.218      0.223      -2.208       0.516
meanCityLevel           -0.4134      0.586     -0.705      0.481      -1.564       0.737
brandID_3               -1.8319      0.585     -3.133      0.002      -2.979      -0.685
brandID_7                8.7087      2.031      4.289      0.000       4.724      12.693
brandID_8               -1.0325      0.800     -1.291      0.197      -2.603       0.537
brandID_9                1.6778      0.684      2.452      0.014       0.335       3.020
brandID_10              -1.8943      0.900     -2.106      0.035      -3.660      -0.129
brandID_12               1.3826      0.724      1.909      0.057      -0.039       2.804
brandID_16               0.4831      0.680      0.711      0.478      -0.851       1.817
brandID_18              -1.0119      0.967     -1.046      0.296      -2.910       0.886
brandID_19               1.3569      0.700      1.939      0.053      -0.016       2.730
brandID_21               3.5084      0.559      6.274      0.000       2.411       4.606
brandID_22               3.4220      1.087      3.149      0.002       1.290       5.554
brandID_23               2.7626      1.120      2.467      0.014       0.566       4.959
brandID_24               1.2888      0.653      1.975      0.049       0.008       2.569
brandID_25               0.6737      0.821      0.820      0.412      -0.938       2.285
brandID_26              -0.3912      1.026     -0.381      0.703      -2.404       1.621
brandID_30               0.0314      2.235      0.014      0.989      -4.355       4.418
brandID_31              -1.6124      0.683     -2.362      0.018      -2.952      -0.273
brandID_35               3.8260      1.600      2.392      0.017       0.687       6.965
brandID_36               1.5484      1.016      1.524      0.128      -0.445       3.542
weekday_2               -0.1311      0.716     -0.183      0.855      -1.536       1.274
weekday_3               -0.0712      0.718     -0.099      0.921      -1.480       1.337
weekday_4                1.9508      0.746      2.615      0.009       0.487       3.415
weekday_5                0.4303      0.752      0.572      0.567      -1.046       1.906
weekday_6               -0.4092      0.751     -0.545      0.586      -1.883       1.064
weekday_7               -0.3766      0.699     -0.539      0.590      -1.749       0.996
==============================================================================
Omnibus:                      779.390   Durbin-Watson:                   1.921
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            22514.500
Skew:                           2.851   Prob(JB):                         0.00
Kurtosis:                      24.355   Cond. No.                         471.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Cross Validation

In [125]:
tk.CV4LeastSq_lr(g2)

343.98661845110666

# The weighted MSE:

In [126]:
Weighted_MSE=(tk.CV4LeastSq_lr(g1)*len(g1)+tk.CV4LeastSq_lr(g2)*len(g2))/(len(g1)+len(g2))

In [127]:
Weighted_MSE

1191.243015627749