In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import toolkit4211 as tk

# K=3

### import data

In [12]:
df=pd.read_csv('data-train345.csv')

### choose to have 3 group

In [13]:
df=df.drop('Labels_3',axis=1)
df=df.drop('Labels_5',axis=1)
df.columns

Index(['productID', 'brandID', 'attribute1', 'attribute2', 'attribute3',
       'attribute4', 'clickVolume', 'avgOriginalUnitPrice',
       'avgFinalUnitPrice', 'ma14SalesVolume', 'weekday', 'meanAge', 'gender',
       'meanEducation', 'maritalStatus', 'plus', 'meanPurchasePower',
       'meanUserLevel', 'meanCityLevel', 'sales', 'Labels_4'],
      dtype='object')

## Product Group 1

### choose group1

In [15]:
g1=df[df['Labels_4'] ==0]
g1=g1.drop('Labels_4',axis=1)
g1.head()

,productID,brandID,attribute1,attribute2,attribute3,attribute4,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,weekday,meanAge,gender,meanEducation,maritalStatus,plus,meanPurchasePower,meanUserLevel,meanCityLevel,sales
1,73,30,2,40,3,1.487173,1217,329.000000,146.111111,8.642857,5,30.000000,0.000000,3.333333,0.571429,0.333333,2.285714,3.000000,2.000000,9
12,92,22,3,60,4,18.322989,368,166.000000,159.000000,10.571429,6,36.666667,0.333333,3.333333,1.000000,1.000000,2.000000,3.000000,2.500000,3
14,60,2,3,60,3,6.634016,667,69.000000,49.171282,12.785714,3,29.310345,0.137931,3.178571,0.655172,0.275862,2.275862,2.793103,2.285714,39
25,92,22,3,60,3,35.501079,440,166.000000,166.000000,8.000000,5,30.000000,1.000000,2.333333,0.333333,0.000000,2.666667,2.000000,3.000000,3
26,22,23,1,60,6,25.625473,708,54.546538,29.354231,32.642857,4,30.666667,0.388889,2.888889,0.444444,0.263158,2.222222,3.157895,2.375000,26

### initilize the data

In [16]:
x_stan,y =tk.initialize(g1)
x_stan.head()

,productID,attribute1,attribute2,attribute3,attribute4,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,meanAge,...,brandID_25,brandID_26,brandID_30,brandID_35,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,weekday_7
0,2.447926,3.148577,5.706787,0.654415,0.084742,2.203531,4.872370,2.632100,0.537856,6.631068,...,0.0,0.0,6.240493,0.0,0.0,0.000000,0.000000,2.646635,0.000000,0.0
1,3.085057,4.722865,8.560181,0.872553,1.044084,0.666310,2.458400,2.864285,0.657873,8.104639,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,2.695187,0.0
2,2.011994,4.722865,8.560181,0.654415,0.378021,1.207687,1.021865,0.885790,0.795671,6.478630,...,0.0,0.0,0.000000,0.0,0.0,2.924836,0.000000,0.000000,0.000000,0.0
3,3.085057,4.722865,8.560181,0.654415,2.022930,0.796675,2.458400,2.990386,0.497850,6.631068,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,2.646635,0.000000,0.0
4,0.737731,1.574288,8.560181,1.308830,1.460196,1.281923,0.807814,0.528798,2.031405,6.778425,...,0.0,0.0,0.000000,0.0,0.0,0.000000,2.788003,0.000000,0.000000,0.0

### compare dimension and datasize

In [17]:
len(g1)

910

In [18]:
len(g1.columns)

20

n>>p

### least square linear regression function

In [19]:
tk.LeastSq_lr(g1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.657
Model:                            OLS   Adj. R-squared:                  0.642
Method:                 Least Squares   F-statistic:                     43.91
Date:                Sun, 12 Dec 2021   Prob (F-statistic):          1.51e-174
Time:                        22:42:02   Log-Likelihood:                -3893.3
No. Observations:                 910   AIC:                             7865.
Df Residuals:                     871   BIC:                             8052.
Df Model:                          38
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept              -18.3920     14.632     -1.257      0.209     -47.110      10.326
productID                0.7144      0.818      0.873      0.383      -0.891       2.320
attribute1              -1.4584      1.203     -1.212      0.226      -3.820       0.904
attribute2               3.6988      1.008      3.669      0.000       1.720       5.677
attribute3              -0.1545      0.600     -0.258      0.797      -1.332       1.023
attribute4               0.8604      0.599      1.436      0.151      -0.315       2.036
clickVolume             20.9680      0.733     28.590      0.000      19.529      22.407
avgOriginalUnitPrice    -7.1691      4.175     -1.717      0.086     -15.364       1.026
avgFinalUnitPrice      -12.9132      3.342     -3.864      0.000     -19.473      -6.353
ma14SalesVolume          1.2498      0.811      1.542      0.124      -0.341       2.841
meanAge                  0.1127      0.711      0.158      0.874      -1.283       1.508
gender                   0.4688      0.702      0.668      0.504      -0.908       1.846
meanEducation            0.4812      0.773      0.622      0.534      -1.037       1.999
maritalStatus           -0.9515      0.727     -1.308      0.191      -2.379       0.476
plus                     0.3192      0.699      0.457      0.648      -1.053       1.692
meanPurchasePower        0.8348      0.642      1.301      0.194      -0.425       2.094
meanUserLevel           -0.2125      0.713     -0.298      0.766      -1.611       1.187
meanCityLevel           -0.2276      0.640     -0.356      0.722      -1.483       1.028
brandID_3               -2.2915      0.659     -3.476      0.001      -3.585      -0.998
brandID_7               11.0381      2.507      4.403      0.000       6.118      15.958
brandID_9                2.3484      0.779      3.016      0.003       0.820       3.876
brandID_10               0.5574      0.913      0.611      0.542      -1.234       2.349
brandID_12               2.2008      0.833      2.643      0.008       0.567       3.835
brandID_18              -1.9337      1.105     -1.750      0.080      -4.102       0.234
brandID_19               2.1108      0.798      2.646      0.008       0.545       3.676
brandID_21               3.3356      0.627      5.318      0.000       2.105       4.567
brandID_22               4.1114      1.278      3.217      0.001       1.603       6.620
brandID_23               1.3150      1.283      1.025      0.306      -1.203       3.833
brandID_24               1.9606      0.735      2.666      0.008       0.517       3.404
brandID_25               0.9167      0.964      0.951      0.342      -0.976       2.809
brandID_26              -0.3934      1.031     -0.382      0.703      -2.417       1.630
brandID_30               3.9263      2.667      1.472      0.141      -1.309       9.161
brandID_35               5.9766      2.024      2.953      0.003       2.005       9.949
weekday_2               -0.3173      0.794     -0.400      0.690      -1.876       1.241
weekday_3               -0.5299      0.799     -0.663      0.507      -2.098       1.038
weekday_4                1.7335      0.827      2.095      0.036       0.109       3.358
weekday_5                0.5397      0.836      0.645      0.519      -1.102       2.181
weekday_6               -0.7388      0.831     -0.889      0.374      -2.369       0.892
weekday_7               -0.4205      0.780     -0.539      0.590      -1.952       1.111
==============================================================================
Omnibus:                      654.331   Durbin-Watson:                   1.922
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            19047.380
Skew:                           2.898   Prob(JB):                         0.00
Kurtosis:                      24.651   Cond. No.                         508.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Cross Validation

In [20]:
tk.CV4LeastSq_lr(g1)

348.7372359369674

## Product Group 2

### choose group2

In [27]:
g2=df[df['Labels_4'] ==2]
g2=g2.drop('Labels_4',axis=1)
g2.head()

,productID,brandID,attribute1,attribute2,attribute3,attribute4,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,weekday,meanAge,gender,meanEducation,maritalStatus,plus,meanPurchasePower,meanUserLevel,meanCityLevel,sales
0,28,4,3,100,5,2.098131,749,58.870968,53.774194,24.642857,3,31.481481,0.370370,3.222222,0.555556,0.357143,2.259259,3.178571,1.884615,31
2,70,3,3,100,1,2.726300,3676,105.000000,64.797872,32.500000,2,32.027778,0.194444,3.073529,0.611940,0.320000,2.223881,2.866667,2.000000,94
3,69,35,3,100,2,2.831175,2685,246.482759,204.448276,43.714286,5,32.160000,0.280000,3.125000,0.480000,0.357143,2.160000,3.357143,1.833333,29
4,69,35,3,100,7,6.322161,777,250.000000,240.500000,43.000000,6,26.666667,0.000000,3.333333,0.000000,0.500000,2.000000,2.750000,1.333333,4
6,96,35,3,100,7,36.112149,313,180.000000,121.000000,5.357143,1,33.333333,0.000000,3.333333,0.666667,0.666667,3.000000,2.666667,2.666667,5

### initilize the data

In [28]:
x_stan,y =tk.initialize(g2)
x_stan.head()

,productID,attribute1,attribute2,attribute3,attribute4,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,meanAge,...,brandID_26,brandID_28,brandID_35,brandID_36,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,weekday_7
0,0.930193,6.410959,31.372798,1.057051,0.106870,0.501264,0.757466,0.931132,1.052633,6.866756,...,0.0,0.0,0.000000,0.0,0.000000,2.956017,0.0,0.000000,0.000000,0.0
1,2.325483,6.410959,31.372798,0.211410,0.138867,2.460143,1.350988,1.122014,1.388255,6.985914,...,0.0,0.0,0.000000,0.0,3.023716,0.000000,0.0,0.000000,0.000000,0.0
2,2.292262,6.410959,31.372798,0.422821,0.144209,1.796922,3.171382,3.540144,1.867279,7.014755,...,0.0,0.0,3.047629,0.0,0.000000,0.000000,0.0,2.710697,0.000000,0.0
3,2.292262,6.410959,31.372798,1.479872,0.322025,0.520003,3.216637,4.164401,1.836768,5.816546,...,0.0,0.0,3.047629,0.0,0.000000,0.000000,0.0,0.000000,2.734027,0.0
4,3.189234,6.410959,31.372798,1.479872,1.839406,0.209474,2.315979,2.095187,0.228833,7.270683,...,0.0,0.0,3.047629,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0

### compare dimension and datasize

In [29]:
len(g2)

880

In [30]:
len(g2.columns)

20

n>>p

### least square linear regression function

In [31]:
tk.LeastSq_lr(g2)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.502
Model:                            OLS   Adj. R-squared:                  0.479
Method:                 Least Squares   F-statistic:                     22.28
Date:                Sun, 12 Dec 2021   Prob (F-statistic):          1.08e-101
Time:                        22:46:05   Log-Likelihood:                -4379.9
No. Observations:                 880   AIC:                             8838.
Df Residuals:                     841   BIC:                             9024.
Df Model:                          38
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept              -74.9856     66.904     -1.121      0.263    -206.304      56.333
productID               -2.9318      2.311     -1.269      0.205      -7.467       1.604
attribute1               3.1884      2.232      1.428      0.154      -1.194       7.570
attribute2               2.5590      2.072      1.235      0.217      -1.508       6.626
attribute3              -1.9263      1.225     -1.573      0.116      -4.330       0.478
attribute4              -1.0539      1.229     -0.858      0.391      -3.466       1.358
clickVolume             26.7084      1.397     19.113      0.000      23.966      29.451
avgOriginalUnitPrice    12.6085      5.032      2.506      0.012       2.733      22.484
avgFinalUnitPrice      -16.8552      4.666     -3.612      0.000     -26.014      -7.696
ma14SalesVolume          0.0823      1.622      0.051      0.960      -3.102       3.266
meanAge                  0.4503      1.494      0.301      0.763      -2.482       3.383
gender                  -0.1551      1.317     -0.118      0.906      -2.740       2.429
meanEducation            0.2815      1.588      0.177      0.859      -2.835       3.398
maritalStatus           -0.5315      1.470     -0.361      0.718      -3.418       2.355
plus                     0.0058      1.456      0.004      0.997      -2.853       2.865
meanPurchasePower       -0.5197      1.333     -0.390      0.697      -3.137       2.097
meanUserLevel            0.5997      1.500      0.400      0.689      -2.344       3.543
meanCityLevel           -0.6645      1.334     -0.498      0.618      -3.283       1.954
brandID_3               -0.9305      1.828     -0.509      0.611      -4.518       2.657
brandID_4               -0.4378      2.149     -0.204      0.839      -4.655       3.780
brandID_9                1.2758      2.390      0.534      0.594      -3.416       5.968
brandID_10              -2.2362      1.997     -1.120      0.263      -6.156       1.684
brandID_11              11.5464      1.655      6.977      0.000       8.298      14.795
brandID_12              -3.0698      2.076     -1.479      0.140      -7.145       1.005
brandID_13              -1.7150      1.636     -1.048      0.295      -4.927       1.497
brandID_15              -1.6381      1.800     -0.910      0.363      -5.170       1.894
brandID_17               0.1606      1.897      0.085      0.933      -3.562       3.884
brandID_20               0.0194      2.623      0.007      0.994      -5.129       5.168
brandID_25               1.2568      3.366      0.373      0.709      -5.351       7.864
brandID_26               0.2109      2.175      0.097      0.923      -4.058       4.479
brandID_28              -4.9915      2.746     -1.818      0.069     -10.381       0.398
brandID_35              -0.9111      3.509     -0.260      0.795      -7.798       5.976
brandID_36             -10.1933      3.206     -3.179      0.002     -16.487      -3.900
weekday_2               -0.7375      1.572     -0.469      0.639      -3.822       2.347
weekday_3               -0.8456      1.592     -0.531      0.595      -3.970       2.279
weekday_4                3.8343      1.649      2.325      0.020       0.598       7.071
weekday_5                1.8352      1.656      1.108      0.268      -1.416       5.086
weekday_6               -0.7574      1.640     -0.462      0.644      -3.976       2.461
weekday_7                1.0686      1.566      0.682      0.495      -2.006       4.143
==============================================================================
Omnibus:                      947.889   Durbin-Watson:                   2.022
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           272973.765
Skew:                           4.518   Prob(JB):                         0.00
Kurtosis:                      88.808   Cond. No.                     2.01e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.01e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

### Cross Validation

In [32]:
tk.CV4LeastSq_lr(g2)

2220.142847392054

## Product Group 3

### choose group3

In [33]:
g3=df[df['Labels_4'] ==3]
g3=g3.drop('Labels_4',axis=1)
g3.head()

,productID,brandID,attribute1,attribute2,attribute3,attribute4,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,weekday,meanAge,gender,meanEducation,maritalStatus,plus,meanPurchasePower,meanUserLevel,meanCityLevel,sales
5,6,26,3,70,7,5.780666,883,134.18,107.478667,42.214286,5,32.000000,0.100000,2.90,0.200000,0.142857,2.100000,3.714286,2.111111,15
13,68,36,3,70,17,3.853880,1357,154.00,131.887500,5.714286,6,35.000000,0.000000,3.25,0.750000,0.250000,2.500000,6.625000,1.500000,8
15,99,31,3,70,7,5.800680,93,68.00,34.000000,4.428571,6,30.000000,0.000000,3.00,1.000000,0.000000,2.000000,3.000000,2.000000,1
18,99,31,3,70,1,35.525149,1235,68.00,36.440476,1.714286,3,36.258065,0.258065,3.20,0.551724,0.225806,2.310345,2.838710,2.407407,42
20,99,31,3,70,2,7.264119,461,68.00,45.666667,1.785714,2,30.000000,0.000000,3.00,1.000000,0.000000,2.333333,2.333333,2.500000,3

### initilize the data

In [34]:
x_stan,y =tk.initialize(g3)
x_stan.head()

,productID,attribute1,attribute2,attribute3,attribute4,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,meanAge,...,brandID_27,brandID_31,brandID_32,brandID_36,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,weekday_7
0,0.218029,9.224266,14.46653,1.567270,0.331763,1.005894,2.926644,2.495542,1.664891,7.293238,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,2.687392,0.000000,0.0
1,2.470992,9.224266,14.46653,3.806226,0.221181,1.545864,3.358945,3.062289,0.225366,7.976979,...,0.0,0.000000,0.0,3.903606,0.000000,0.000000,0.0,0.000000,2.687392,0.0
2,3.597473,9.224266,14.46653,1.567270,0.332912,0.105944,1.483170,0.789444,0.174659,6.837410,...,0.0,2.904663,0.0,0.000000,0.000000,0.000000,0.0,0.000000,2.687392,0.0
3,3.597473,9.224266,14.46653,0.223896,2.038853,1.406884,1.483170,0.846110,0.067610,8.263709,...,0.0,2.904663,0.0,0.000000,0.000000,2.939371,0.0,0.000000,0.000000,0.0
4,3.597473,9.224266,14.46653,0.447791,0.416901,0.525161,1.483170,1.060332,0.070427,6.837410,...,0.0,2.904663,0.0,0.000000,2.887896,0.000000,0.0,0.000000,0.000000,0.0

### compare dimension and datasize

In [35]:
len(g3)

524

In [36]:
len(g3.columns)

20

n>>p

### least square linear regression function

In [37]:
tk.LeastSq_lr(g3)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.795
Model:                            OLS   Adj. R-squared:                  0.783
Method:                 Least Squares   F-statistic:                     63.91
Date:                Sun, 12 Dec 2021   Prob (F-statistic):          2.81e-149
Time:                        22:48:05   Log-Likelihood:                -2204.6
No. Observations:                 524   AIC:                             4471.
Df Residuals:                     493   BIC:                             4603.
Df Model:                          30
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept              -21.4567      4.219     -5.086      0.000     -29.745     -13.168
productID                0.1494      1.290      0.116      0.908      -2.386       2.685
attribute1             -19.0811      3.937     -4.847      0.000     -26.816     -11.346
attribute2               8.7221      1.461      5.968      0.000       5.851      11.594
attribute3               0.0927      0.760      0.122      0.903      -1.400       1.585
attribute4               0.2193      0.763      0.287      0.774      -1.281       1.719
clickVolume             31.9842      1.059     30.193      0.000      29.903      34.066
avgOriginalUnitPrice     6.3821      2.921      2.185      0.029       0.643      12.121
avgFinalUnitPrice      -16.0174      2.922     -5.482      0.000     -21.758     -10.277
ma14SalesVolume          2.0107      0.989      2.032      0.043       0.067       3.955
meanAge                  0.6775      0.920      0.737      0.462      -1.130       2.485
gender                  -0.2060      0.815     -0.253      0.800      -1.807       1.395
meanEducation            1.5230      1.025      1.486      0.138      -0.491       3.537
maritalStatus            0.5762      0.866      0.665      0.506      -1.126       2.278
plus                    -0.3478      0.906     -0.384      0.701      -2.127       1.431
meanPurchasePower        0.1541      0.821      0.188      0.851      -1.459       1.767
meanUserLevel           -1.0341      1.131     -0.914      0.361      -3.257       1.189
meanCityLevel           -0.5547      0.852     -0.651      0.515      -2.228       1.119
brandID_10              -4.3742      1.556     -2.812      0.005      -7.431      -1.318
brandID_14               8.2076      2.514      3.265      0.001       3.268      13.147
brandID_16              14.4359      2.715      5.316      0.000       9.101      19.771
brandID_26              19.7615      4.500      4.392      0.000      10.921      28.602
brandID_27              21.3911      3.411      6.271      0.000      14.689      28.094
brandID_31              18.8948      3.888      4.859      0.000      11.255      26.535
brandID_32              14.2794      3.639      3.924      0.000       7.130      21.429
brandID_36              15.6941      3.030      5.179      0.000       9.740      21.648
weekday_2                0.2232      0.989      0.226      0.822      -1.719       2.166
weekday_3               -0.1508      0.985     -0.153      0.878      -2.085       1.784
weekday_4                1.0168      1.022      0.994      0.320      -0.992       3.026
weekday_5                0.9204      1.023      0.900      0.369      -1.090       2.931
weekday_6                1.0822      1.029      1.052      0.293      -0.939       3.103
weekday_7                0.5410      0.960      0.564      0.573      -1.344       2.426
==============================================================================
Omnibus:                      218.509   Durbin-Watson:                   2.043
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2961.064
Skew:                           1.438   Prob(JB):                         0.00
Kurtosis:                      14.285   Cond. No.                     2.49e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.25e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

### Cross Validation

In [38]:
tk.CV4LeastSq_lr(g3)

313.64692505948085

# The weighted MSE:

In [39]:
Weighted_MSE=(tk.CV4LeastSq_lr(g1)*len(g1)+tk.CV4LeastSq_lr(g2)*len(g2)+tk.CV4LeastSq_lr(g3)*len(g3))/(len(g1)+len(g2)+len(g3))

In [40]:
Weighted_MSE

1052.4751854532483