In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import toolkit4211 as tk

### import data

In [2]:
df=pd.read_csv('data-train345.csv')

### choose to have 3 group

In [3]:
df=df.drop('Labels_3',axis=1)
df=df.drop('Labels_4',axis=1)
df.columns

Index(['productID', 'brandID', 'attribute1', 'attribute2', 'attribute3',
       'attribute4', 'clickVolume', 'avgOriginalUnitPrice',
       'avgFinalUnitPrice', 'ma14SalesVolume', 'weekday', 'meanAge', 'gender',
       'meanEducation', 'maritalStatus', 'plus', 'meanPurchasePower',
       'meanUserLevel', 'meanCityLevel', 'sales', 'Labels_5'],
      dtype='object')

## Product Group 1

### choose group1

In [4]:
g=df[df['Labels_5'] ==1]
g=g.drop('Labels_5',axis=1)
g.head()

,productID,brandID,attribute1,attribute2,attribute3,attribute4,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,weekday,meanAge,gender,meanEducation,maritalStatus,plus,meanPurchasePower,meanUserLevel,meanCityLevel,sales
0,28,4,3,100,5,2.098131,749,58.870968,53.774194,24.642857,3,31.481481,0.370370,3.222222,0.555556,0.357143,2.259259,3.178571,1.884615,31
2,70,3,3,100,1,2.726300,3676,105.000000,64.797872,32.500000,2,32.027778,0.194444,3.073529,0.611940,0.320000,2.223881,2.866667,2.000000,94
3,69,35,3,100,2,2.831175,2685,246.482759,204.448276,43.714286,5,32.160000,0.280000,3.125000,0.480000,0.357143,2.160000,3.357143,1.833333,29
4,69,35,3,100,7,6.322161,777,250.000000,240.500000,43.000000,6,26.666667,0.000000,3.333333,0.000000,0.500000,2.000000,2.750000,1.333333,4
6,96,35,3,100,7,36.112149,313,180.000000,121.000000,5.357143,1,33.333333,0.000000,3.333333,0.666667,0.666667,3.000000,2.666667,2.666667,5

### initilize the data

In [5]:
x_stan,y =tk.initialize(g)
x_stan.head()

,productID,attribute1,attribute2,attribute3,attribute4,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,meanAge,...,brandID_26,brandID_28,brandID_35,brandID_36,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,weekday_7
0,0.930193,6.410959,31.372798,1.057051,0.106870,0.501264,0.757466,0.931132,1.052633,6.866756,...,0.0,0.0,0.000000,0.0,0.000000,2.956017,0.0,0.000000,0.000000,0.0
1,2.325483,6.410959,31.372798,0.211410,0.138867,2.460143,1.350988,1.122014,1.388255,6.985914,...,0.0,0.0,0.000000,0.0,3.023716,0.000000,0.0,0.000000,0.000000,0.0
2,2.292262,6.410959,31.372798,0.422821,0.144209,1.796922,3.171382,3.540144,1.867279,7.014755,...,0.0,0.0,3.047629,0.0,0.000000,0.000000,0.0,2.710697,0.000000,0.0
3,2.292262,6.410959,31.372798,1.479872,0.322025,0.520003,3.216637,4.164401,1.836768,5.816546,...,0.0,0.0,3.047629,0.0,0.000000,0.000000,0.0,0.000000,2.734027,0.0
4,3.189234,6.410959,31.372798,1.479872,1.839406,0.209474,2.315979,2.095187,0.228833,7.270683,...,0.0,0.0,3.047629,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0

### compare dimension and datasize

In [6]:
l1=len(g)
print(l1)

880

In [7]:
len(g.columns)

20

n>>p

### least square linear regression function

In [8]:
tk.LeastSq_lr(g)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.502
Model:                            OLS   Adj. R-squared:                  0.479
Method:                 Least Squares   F-statistic:                     22.28
Date:                Mon, 13 Dec 2021   Prob (F-statistic):          1.08e-101
Time:                        14:19:10   Log-Likelihood:                -4379.9
No. Observations:                 880   AIC:                             8838.
Df Residuals:                     841   BIC:                             9024.
Df Model:                          38
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept              -74.9856     66.904     -1.121      0.263    -206.304      56.333
productID               -2.9318      2.311     -1.269      0.205      -7.467       1.604
attribute1               3.1884      2.232      1.428      0.154      -1.194       7.570
attribute2               2.5590      2.072      1.235      0.217      -1.508       6.626
attribute3              -1.9263      1.225     -1.573      0.116      -4.330       0.478
attribute4              -1.0539      1.229     -0.858      0.391      -3.466       1.358
clickVolume             26.7084      1.397     19.113      0.000      23.966      29.451
avgOriginalUnitPrice    12.6085      5.032      2.506      0.012       2.733      22.484
avgFinalUnitPrice      -16.8552      4.666     -3.612      0.000     -26.014      -7.696
ma14SalesVolume          0.0823      1.622      0.051      0.960      -3.102       3.266
meanAge                  0.4503      1.494      0.301      0.763      -2.482       3.383
gender                  -0.1551      1.317     -0.118      0.906      -2.740       2.429
meanEducation            0.2815      1.588      0.177      0.859      -2.835       3.398
maritalStatus           -0.5315      1.470     -0.361      0.718      -3.418       2.355
plus                     0.0058      1.456      0.004      0.997      -2.853       2.865
meanPurchasePower       -0.5197      1.333     -0.390      0.697      -3.137       2.097
meanUserLevel            0.5997      1.500      0.400      0.689      -2.344       3.543
meanCityLevel           -0.6645      1.334     -0.498      0.618      -3.283       1.954
brandID_3               -0.9305      1.828     -0.509      0.611      -4.518       2.657
brandID_4               -0.4378      2.149     -0.204      0.839      -4.655       3.780
brandID_9                1.2758      2.390      0.534      0.594      -3.416       5.968
brandID_10              -2.2362      1.997     -1.120      0.263      -6.156       1.684
brandID_11              11.5464      1.655      6.977      0.000       8.298      14.795
brandID_12              -3.0698      2.076     -1.479      0.140      -7.145       1.005
brandID_13              -1.7150      1.636     -1.048      0.295      -4.927       1.497
brandID_15              -1.6381      1.800     -0.910      0.363      -5.170       1.894
brandID_17               0.1606      1.897      0.085      0.933      -3.562       3.884
brandID_20               0.0194      2.623      0.007      0.994      -5.129       5.168
brandID_25               1.2568      3.366      0.373      0.709      -5.351       7.864
brandID_26               0.2109      2.175      0.097      0.923      -4.058       4.479
brandID_28              -4.9915      2.746     -1.818      0.069     -10.381       0.398
brandID_35              -0.9111      3.509     -0.260      0.795      -7.798       5.976
brandID_36             -10.1933      3.206     -3.179      0.002     -16.487      -3.900
weekday_2               -0.7375      1.572     -0.469      0.639      -3.822       2.347
weekday_3               -0.8456      1.592     -0.531      0.595      -3.970       2.279
weekday_4                3.8343      1.649      2.325      0.020       0.598       7.071
weekday_5                1.8352      1.656      1.108      0.268      -1.416       5.086
weekday_6               -0.7574      1.640     -0.462      0.644      -3.976       2.461
weekday_7                1.0686      1.566      0.682      0.495      -2.006       4.143
==============================================================================
Omnibus:                      947.889   Durbin-Watson:                   2.022
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           272973.765
Skew:                           4.518   Prob(JB):                         0.00
Kurtosis:                      88.808   Cond. No.                     2.01e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.01e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

### Cross Validation

In [9]:
MSE_g1=tk.CV4LeastSq_lr(g)
print(MSE_g1)

2220.142847392054

## Product Group 2

### choose group2

In [10]:
g=df[df['Labels_5'] ==2]
g=g.drop('Labels_5',axis=1)
g.head()

,productID,brandID,attribute1,attribute2,attribute3,attribute4,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,weekday,meanAge,gender,meanEducation,maritalStatus,plus,meanPurchasePower,meanUserLevel,meanCityLevel,sales
12,92,22,3,60,4,18.322989,368,166.000000,159.000000,10.571429,6,36.666667,0.333333,3.333333,1.000000,1.000000,2.000000,3.000000,2.500000,3
14,60,2,3,60,3,6.634016,667,69.000000,49.171282,12.785714,3,29.310345,0.137931,3.178571,0.655172,0.275862,2.275862,2.793103,2.285714,39
25,92,22,3,60,3,35.501079,440,166.000000,166.000000,8.000000,5,30.000000,1.000000,2.333333,0.333333,0.000000,2.666667,2.000000,3.000000,3
26,22,23,1,60,6,25.625473,708,54.546538,29.354231,32.642857,4,30.666667,0.388889,2.888889,0.444444,0.263158,2.222222,3.157895,2.375000,26
27,80,2,3,60,1,5.027895,144,69.000000,63.080000,5.928571,4,32.000000,0.600000,3.400000,0.400000,0.600000,2.200000,2.800000,2.400000,5

### initilize the data

In [11]:
x_stan,y =tk.initialize(g)
x_stan.head()

,productID,attribute1,attribute2,attribute3,attribute4,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,meanAge,...,brandID_23,brandID_24,brandID_25,brandID_26,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,weekday_7
0,3.176927,4.967586,60.0,0.851824,1.065053,0.674888,4.812973,5.202577,0.621738,7.830086,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,2.644256,0.0
1,2.071909,4.967586,60.0,0.638868,0.385613,1.223234,2.000573,1.608914,0.751967,6.259159,...,0.000000,0.0,0.0,0.0,0.0,2.879426,0.000000,0.000000,0.000000,0.0
2,3.176927,4.967586,60.0,0.638868,2.063556,0.806931,4.812973,5.431622,0.470504,6.406434,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,2.664311,0.000000,0.0
3,0.759700,1.655862,60.0,1.277736,1.489521,1.298426,1.581512,0.960488,1.919826,6.548799,...,2.192196,0.0,0.0,0.0,0.0,0.000000,2.825455,0.000000,0.000000,0.0
4,2.762545,4.967586,60.0,0.212956,0.292254,0.264087,2.000573,2.064016,0.348677,6.833529,...,0.000000,0.0,0.0,0.0,0.0,0.000000,2.825455,0.000000,0.000000,0.0

### compare dimension and datasize

In [12]:
l2=len(g)
print(l2)

613

In [13]:
len(g.columns)

20

n>>p

### least square linear regression function

In [14]:
tk.LeastSq_lr(g)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.722
Model:                            OLS   Adj. R-squared:                  0.705
Method:                 Least Squares   F-statistic:                     44.04
Date:                Mon, 13 Dec 2021   Prob (F-statistic):          3.52e-137
Time:                        14:19:10   Log-Likelihood:                -2588.1
No. Observations:                 613   AIC:                             5246.
Df Residuals:                     578   BIC:                             5401.
Df Model:                          34
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept                0.0021      0.004      0.471      0.638      -0.007       0.011
productID                1.3624      0.938      1.452      0.147      -0.480       3.205
attribute1              -3.2566      1.322     -2.464      0.014      -5.853      -0.661
attribute2               0.1260      0.267      0.471      0.638      -0.399       0.651
attribute3              -0.4089      0.700     -0.584      0.560      -1.784       0.966
attribute4               0.6305      0.703      0.897      0.370      -0.750       2.011
clickVolume             23.2372      0.854     27.221      0.000      21.561      24.914
avgOriginalUnitPrice    -0.5957      2.741     -0.217      0.828      -5.979       4.787
avgFinalUnitPrice       -6.8571      2.172     -3.157      0.002     -11.123      -2.591
ma14SalesVolume          1.0438      1.044      1.000      0.318      -1.006       3.094
meanAge                 -0.0083      0.831     -0.010      0.992      -1.640       1.624
gender                  -0.2037      0.791     -0.258      0.797      -1.757       1.350
meanEducation            0.8481      0.892      0.951      0.342      -0.904       2.600
maritalStatus           -0.8118      0.863     -0.941      0.347      -2.506       0.883
plus                     0.0719      0.814      0.088      0.930      -1.526       1.670
meanPurchasePower        1.2774      0.748      1.708      0.088      -0.191       2.746
meanUserLevel           -0.0142      0.815     -0.017      0.986      -1.614       1.586
meanCityLevel           -0.6054      0.746     -0.811      0.418      -2.072       0.861
brandID_3               -2.7334      0.789     -3.463      0.001      -4.283      -1.183
brandID_9                2.0032      1.065      1.881      0.060      -0.088       4.094
brandID_10              -0.6423      1.183     -0.543      0.587      -2.966       1.681
brandID_12               1.5269      1.156      1.321      0.187      -0.743       3.797
brandID_18              -2.7172      1.181     -2.302      0.022      -5.036      -0.399
brandID_19               1.7121      1.108      1.546      0.123      -0.463       3.887
brandID_21               3.3099      0.755      4.384      0.000       1.827       4.793
brandID_22               2.6870      1.874      1.434      0.152      -0.993       6.367
brandID_23              -0.1519      1.609     -0.094      0.925      -3.313       3.009
brandID_24               1.7462      0.947      1.843      0.066      -0.114       3.607
brandID_25              -0.9608      1.380     -0.696      0.487      -3.671       1.750
brandID_26              -0.6224      1.097     -0.568      0.571      -2.776       1.531
weekday_2               -0.1927      0.933     -0.207      0.836      -2.024       1.639
weekday_3               -0.9087      0.941     -0.966      0.335      -2.757       0.939
weekday_4                1.7354      0.964      1.799      0.072      -0.159       3.630
weekday_5               -0.0009      0.977     -0.001      0.999      -1.920       1.918
weekday_6               -0.7092      0.984     -0.721      0.471      -2.641       1.223
weekday_7               -0.7312      0.908     -0.806      0.421      -2.514       1.052
==============================================================================
Omnibus:                      334.270   Durbin-Watson:                   1.948
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9530.350
Skew:                           1.846   Prob(JB):                         0.00
Kurtosis:                      21.961   Cond. No.                     1.54e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.03e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

### Cross Validation

In [15]:
MSE_g2=tk.CV4LeastSq_lr(g)
print(MSE_g2)

343.53795674872197

## Product Group 3

### choose group3

In [16]:
g=df[df['Labels_5'] ==3]
g=g.drop('Labels_5',axis=1)
g.head()

,productID,brandID,attribute1,attribute2,attribute3,attribute4,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,weekday,meanAge,gender,meanEducation,maritalStatus,plus,meanPurchasePower,meanUserLevel,meanCityLevel,sales
1,73,30,2,40,3,1.487173,1217,329.0,146.111111,8.642857,5,30.000000,0.000000,3.333333,0.571429,0.333333,2.285714,3.000000,2.000000,9
33,13,2,3,50,4,3.300992,1139,65.0,52.346207,40.000000,7,33.684211,0.263158,2.823529,0.470588,0.181818,2.352941,2.181818,2.250000,29
58,18,18,2,40,3,10.124413,622,66.0,31.718182,34.785714,5,32.846154,0.576923,2.884615,0.538462,0.290323,2.230769,2.290323,2.318182,33
72,73,30,2,40,6,12.847343,191,329.0,149.000000,8.571429,1,50.000000,1.000000,3.000000,0.000000,1.000000,2.000000,2.000000,2.000000,1
73,24,26,2,50,6,2.991092,1310,94.9,79.076471,25.857143,2,34.933333,0.428571,3.153846,0.500000,0.235294,2.357143,2.823529,2.066667,17

### initilize the data

In [17]:
x_stan,y =tk.initialize(g)
x_stan.head()

,productID,attribute1,attribute2,attribute3,attribute4,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,meanAge,...,brandID_18,brandID_26,brandID_30,brandID_35,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,weekday_7
0,2.600871,2.889972,8.267962,0.690458,0.081532,2.284238,3.246129,1.806009,0.629656,7.657001,...,0.000000,0.000000,3.669184,0.0,0.000000,0.0,0.0,2.611702,0.0,0.000000
1,0.463169,4.334958,10.334953,0.920611,0.180971,2.137836,0.641332,0.647026,2.914113,8.597335,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,2.960836
2,0.641311,2.889972,8.267962,0.690458,0.555053,1.167458,0.651199,0.392053,2.534237,8.383435,...,2.460519,0.000000,0.000000,0.0,0.000000,0.0,0.0,2.611702,0.0,0.000000
3,2.600871,2.889972,8.267962,1.380917,0.704332,0.358496,3.246129,1.841717,0.624453,12.761669,...,0.000000,0.000000,3.669184,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000
4,0.855081,2.889972,10.334953,1.380917,0.163981,2.458793,0.936345,0.977426,1.883766,8.916153,...,0.000000,2.322582,0.000000,0.0,3.028091,0.0,0.0,0.000000,0.0,0.000000

### compare dimension and datasize

In [18]:
l3=len(g)
print(l3)

297

In [19]:
len(g.columns)

20

n>>p

### least square linear regression function

In [20]:
tk.LeastSq_lr(g)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.536
Model:                            OLS   Adj. R-squared:                  0.489
Method:                 Least Squares   F-statistic:                     11.49
Date:                Mon, 13 Dec 2021   Prob (F-statistic):           3.05e-31
Time:                        14:19:11   Log-Likelihood:                -1279.2
No. Observations:                 297   AIC:                             2614.
Df Residuals:                     269   BIC:                             2718.
Df Model:                          27
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept                2.1237      1.228      1.730      0.085      -0.293       4.541
productID               -4.1872      3.613     -1.159      0.248     -11.301       2.927
attribute1               4.8403      1.377      3.516      0.001       2.130       7.550
attribute2               2.3846      2.440      0.977      0.329      -2.420       7.189
attribute3               0.0856      1.134      0.075      0.940      -2.146       2.317
attribute4               1.5649      1.129      1.386      0.167      -0.658       3.788
clickVolume             15.7960      1.359     11.627      0.000      13.121      18.471
avgOriginalUnitPrice   -40.7860     19.259     -2.118      0.035     -78.703      -2.869
avgFinalUnitPrice      -21.2293      9.544     -2.224      0.027     -40.020      -2.439
ma14SalesVolume         -0.2893      1.591     -0.182      0.856      -3.422       2.844
meanAge                 -0.0796      1.365     -0.058      0.954      -2.767       2.608
gender                   2.0151      1.539      1.310      0.191      -1.014       5.044
meanEducation           -0.9922      1.491     -0.665      0.506      -3.928       1.944
maritalStatus           -0.4625      1.306     -0.354      0.723      -3.033       2.108
plus                     0.7047      1.379      0.511      0.610      -2.010       3.420
meanPurchasePower        0.5540      1.261      0.439      0.661      -1.928       3.036
meanUserLevel           -0.1196      1.436     -0.083      0.934      -2.947       2.708
meanCityLevel            0.4743      1.233      0.385      0.701      -1.952       2.901
brandID_7               40.3170     13.422      3.004      0.003      13.891      66.743
brandID_10               1.0234      2.182      0.469      0.639      -3.272       5.319
brandID_18              -0.1898      3.194     -0.059      0.953      -6.478       6.099
brandID_26               3.5703      2.572      1.388      0.166      -1.493       8.634
brandID_30              33.9681     15.339      2.215      0.028       3.769      64.168
brandID_35              25.0654      9.976      2.512      0.013       5.424      44.707
weekday_2               -0.4287      1.472     -0.291      0.771      -3.327       2.469
weekday_3                0.6741      1.459      0.462      0.644      -2.198       3.546
weekday_4                1.5998      1.545      1.035      0.301      -1.442       4.642
weekday_5                1.6676      1.570      1.062      0.289      -1.424       4.759
weekday_6               -0.7436      1.498     -0.497      0.620      -3.692       2.205
weekday_7                0.2291      1.480      0.155      0.877      -2.685       3.143
==============================================================================
Omnibus:                      296.961   Durbin-Watson:                   1.911
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9842.733
Skew:                           4.147   Prob(JB):                         0.00
Kurtosis:                      29.955   Cond. No.                     6.61e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.08e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

### Cross Validation

In [21]:
MSE_g3=tk.CV4LeastSq_lr(g)
print(MSE_g3)

390.35383232730555

## Product Group 4

### choose group4

In [22]:
g=df[df['Labels_5'] ==4]
g=g.drop('Labels_5',axis=1)
g.head()

,productID,brandID,attribute1,attribute2,attribute3,attribute4,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,weekday,meanAge,gender,meanEducation,maritalStatus,plus,meanPurchasePower,meanUserLevel,meanCityLevel,sales
5,6,26,3,70,7,5.780666,883,134.18,107.478667,42.214286,5,32.000000,0.100000,2.90,0.200000,0.142857,2.100000,3.714286,2.111111,15
13,68,36,3,70,17,3.853880,1357,154.00,131.887500,5.714286,6,35.000000,0.000000,3.25,0.750000,0.250000,2.500000,6.625000,1.500000,8
15,99,31,3,70,7,5.800680,93,68.00,34.000000,4.428571,6,30.000000,0.000000,3.00,1.000000,0.000000,2.000000,3.000000,2.000000,1
18,99,31,3,70,1,35.525149,1235,68.00,36.440476,1.714286,3,36.258065,0.258065,3.20,0.551724,0.225806,2.310345,2.838710,2.407407,42
20,99,31,3,70,2,7.264119,461,68.00,45.666667,1.785714,2,30.000000,0.000000,3.00,1.000000,0.000000,2.333333,2.333333,2.500000,3

### initilize the data

In [23]:
x_stan,y =tk.initialize(g)
x_stan.head()

,productID,attribute1,attribute2,attribute3,attribute4,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,meanAge,...,brandID_27,brandID_31,brandID_32,brandID_36,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,weekday_7
0,0.218029,9.224266,14.46653,1.567270,0.331763,1.005894,2.926644,2.495542,1.664891,7.293238,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,2.687392,0.000000,0.0
1,2.470992,9.224266,14.46653,3.806226,0.221181,1.545864,3.358945,3.062289,0.225366,7.976979,...,0.0,0.000000,0.0,3.903606,0.000000,0.000000,0.0,0.000000,2.687392,0.0
2,3.597473,9.224266,14.46653,1.567270,0.332912,0.105944,1.483170,0.789444,0.174659,6.837410,...,0.0,2.904663,0.0,0.000000,0.000000,0.000000,0.0,0.000000,2.687392,0.0
3,3.597473,9.224266,14.46653,0.223896,2.038853,1.406884,1.483170,0.846110,0.067610,8.263709,...,0.0,2.904663,0.0,0.000000,0.000000,2.939371,0.0,0.000000,0.000000,0.0
4,3.597473,9.224266,14.46653,0.447791,0.416901,0.525161,1.483170,1.060332,0.070427,6.837410,...,0.0,2.904663,0.0,0.000000,2.887896,0.000000,0.0,0.000000,0.000000,0.0

### compare dimension and datasize

In [24]:
l4=len(g)
print(l4)

524

In [25]:
len(g.columns)

20

n>>p

### least square linear regression function

In [26]:
tk.LeastSq_lr(g)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.795
Model:                            OLS   Adj. R-squared:                  0.783
Method:                 Least Squares   F-statistic:                     63.91
Date:                Mon, 13 Dec 2021   Prob (F-statistic):          2.81e-149
Time:                        14:19:11   Log-Likelihood:                -2204.6
No. Observations:                 524   AIC:                             4471.
Df Residuals:                     493   BIC:                             4603.
Df Model:                          30
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept              -21.4567      4.219     -5.086      0.000     -29.745     -13.168
productID                0.1494      1.290      0.116      0.908      -2.386       2.685
attribute1             -19.0811      3.937     -4.847      0.000     -26.816     -11.346
attribute2               8.7221      1.461      5.968      0.000       5.851      11.594
attribute3               0.0927      0.760      0.122      0.903      -1.400       1.585
attribute4               0.2193      0.763      0.287      0.774      -1.281       1.719
clickVolume             31.9842      1.059     30.193      0.000      29.903      34.066
avgOriginalUnitPrice     6.3821      2.921      2.185      0.029       0.643      12.121
avgFinalUnitPrice      -16.0174      2.922     -5.482      0.000     -21.758     -10.277
ma14SalesVolume          2.0107      0.989      2.032      0.043       0.067       3.955
meanAge                  0.6775      0.920      0.737      0.462      -1.130       2.485
gender                  -0.2060      0.815     -0.253      0.800      -1.807       1.395
meanEducation            1.5230      1.025      1.486      0.138      -0.491       3.537
maritalStatus            0.5762      0.866      0.665      0.506      -1.126       2.278
plus                    -0.3478      0.906     -0.384      0.701      -2.127       1.431
meanPurchasePower        0.1541      0.821      0.188      0.851      -1.459       1.767
meanUserLevel           -1.0341      1.131     -0.914      0.361      -3.257       1.189
meanCityLevel           -0.5547      0.852     -0.651      0.515      -2.228       1.119
brandID_10              -4.3742      1.556     -2.812      0.005      -7.431      -1.318
brandID_14               8.2076      2.514      3.265      0.001       3.268      13.147
brandID_16              14.4359      2.715      5.316      0.000       9.101      19.771
brandID_26              19.7615      4.500      4.392      0.000      10.921      28.602
brandID_27              21.3911      3.411      6.271      0.000      14.689      28.094
brandID_31              18.8948      3.888      4.859      0.000      11.255      26.535
brandID_32              14.2794      3.639      3.924      0.000       7.130      21.429
brandID_36              15.6941      3.030      5.179      0.000       9.740      21.648
weekday_2                0.2232      0.989      0.226      0.822      -1.719       2.166
weekday_3               -0.1508      0.985     -0.153      0.878      -2.085       1.784
weekday_4                1.0168      1.022      0.994      0.320      -0.992       3.026
weekday_5                0.9204      1.023      0.900      0.369      -1.090       2.931
weekday_6                1.0822      1.029      1.052      0.293      -0.939       3.103
weekday_7                0.5410      0.960      0.564      0.573      -1.344       2.426
==============================================================================
Omnibus:                      218.509   Durbin-Watson:                   2.043
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2961.064
Skew:                           1.438   Prob(JB):                         0.00
Kurtosis:                      14.285   Cond. No.                     2.49e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.25e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

### Cross Validation

In [27]:
MSE_g4=tk.CV4LeastSq_lr(g)
print(MSE_g4)

313.64692505948085

# The weighted MSE:

In [30]:
Weighted_MSE=(MSE_g1*l1+MSE_g2*l2+MSE_g3*l3+MSE_g4*l4)/(l1+l2+l3+l4)

In [31]:
Weighted_MSE

1056.4393042888296